<h1>Add A New Group and save hours of time!</h1>

<form>

</form>

<main ng-controller="GroupsController as groups">

  <h2 ng-show="groups.selectedGroup">{{ groups.selectedGroup.title}} <span class="{{ groups.selectedGroup.picture | lowercase }}">{{ groups.selectedCharacter.picture }}</span></h2>

  <form name="groups.newGroup" ng-submit="groups.addGroup()">
    <label>Title</label>
    <input type="text" name="name" ng-model="groups.group.title">
    <label>Picture</label>
    <input type="text" name="picture" ng-model="groups.group.picture">
    <input type="submit" value="Add">
  </form>
  <h1>The Groups Database</h1>
  <ul>
  <li ng-repeat="group in groups.groups" ng-click="groups.selectGroup(group)">
      {{ group.title }}<span class="{{ group.picture }}">{{ group.picture }}</span> <a href="#" ng-click="groups.editGroup(group)">Edit</a> <button ng-click="groups.deleteGroup(group)">Delete</button>
    </li>
  </ul>



  <!-- <form ng-submit="groups.createGroup()" name="groups.group.form" novalidate>
    <label for="grouptitle">Title</label>
    <input name="title" 
    placeholder="E.g Newcastle University Geography Aerial Wars module"
    ng-model="groups.newGroup.title"
    required>

    <label for="grouppicture">Picture</label>
    <input name="picture" 
    placeholder="Add a picture that sums up your group"
    ng-model="groups.newGroup.picture"
    required>

    <input type="submit" value="Add">
  </form> -->

  <h2 ng-class="groups.newGroup.title">{{groups.newGroup.title}}</h2>

</main>
