<h1>Add A New Task on your reading list</h1>
<main ng-controller="TasksController as tasks">
  <form>

    <form ng-submit="tasks.createTask()" name="tasks.task.form" novalidate>
      <label for="task_name">Title</label>
      <input name="task_name" 
      placeholder="E.g Aerial Geographies"
      ng-model="tasks.newTask.task_name"
      required>

      <label for="author">Author</label>
      <input name="author" 
      placeholder="Add an author for this task"
      ng-model="tasks.newTasks.author"
      required>

      <label for="pages">Pages</label>
      <input name="pages" 
      placeholder="Add the pages to note for this task"
      ng-model="tasks.newTasks.pages"
      required>

      <input type="submit" value="Add">
    </form>

    <h2 ng-class="groups.newGroup.title">{{groups.newGroup.title}}</h2>
  </form>
</main>



notes: String,