<!DOCTYPE html>
<html ng-app="MindMergeApp">
<html>
<head>
  <meta charset="utf-8">
  <title>Mind Merge</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="js/app.js" charset="utf-8"></script>
  <script src="js/groupsController.js" charset="utf-8"></script>
  <script src="js/tasksController.js" charset="utf-8"></script>
  <script src="js/tasksController.js" charset="utf-8"></script>
</head>
<body>
  Hello World
  <!-- <section ng-controller="groupsController as groups">
    <h1>Current Groups</h1>
    <ul id="groups">
      <li ng-repeat="group in groups.all">
        <strong>{{group.title}}</strong>
      </li>
    </ul>

    <form class="add-group" ng-submit='groups.addGroup()'>
      {{groups.newGroup.title}}
      <div>
        <label for="new-criminal-name">Criminal's Name</label>
        <input type="text" id="new-criminal-name" placeholder="James Monroe" ng-model='criminals.newCriminal.name'>
      </div>

      <div>
        <label for="new-criminal-birth">Criminals's Starting Year</label>
        <input type="text" id="new-criminal-start" placeholder="1817" ng-model='criminals.newCriminal.birth'>
      </div>

      <div>
        <label for="new-criminal-death">Criminal's Ending Year</label>
        <input type="text" id="new-criminal-end" placeholder="1825" ng-model='criminals.newCriminal.death'>
      </div>

      <div>
        <input type="submit" value="Add Criminal">
      </div>
    </form>
  </section> -->
</body>
</html>










