<!DOCTYPE html>
<html ng-app="MindMergeApp">
<html>
<head>
  <meta charset="utf-8">
  <title>Mind Merge</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="//cdn.jsdelivr.net/satellizer/0.13.1/satellizer.min.js"></script>
  <script src="js/app.js" charset="utf-8"></script>
  <script src="js/groupsController.js" charset="utf-8"></script>
  <script src="js/tasksController.js" charset="utf-8"></script>
  <script src="js/usersController.js" charset="utf-8"></script>
</head>
<body>
  Hello World
 <section ng-controller="UsersController as users">
    <h1>Current Users</h1>
    <ul id="users">
      <li ng-repeat="user in users.all">
        <strong>{{user.first_name}}</strong>
      </li>
    </ul>
<!--
    <form class="add-group" ng-submit='groups.addGroup()'>
      {{groups.newGroup.title}}
      <div>
        <label for="new-group-title">Group's Title</label>
        <input type="text" id="new-group-title" placeholder="Newcastle University Geography Students" ng-model='groups.newGroup.title'>
      </div>

      <div>
        <label for="new-group-users">Groups's Users</label>
        <input type="text" id="new-group-users" placeholder="add you friends" ng-model='groups.newGroup.users'>
      </div>

      <div>
        <input type="submit" value="Add Group">
      </div>
    </form> -->
  </section> 

</body>
</html>










