/*body {
  background-image: url('http://eyeforpharmadrupalfs.s3.amazonaws.com/team_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }*/

  h1.homepagetitle {
    text-align: center;
  }

  .signupbutton {

  }

  .tabs li {
    list-style-type: none;
    overflow-x: hidden;
    white-space: nowrap; 
    height: 1em;
    width: 100%;

  }

  .table{
    display: table; 
    margin: 0 auto;
  }

  ul li{
    display: inline;
  }

  .list-group-item {
    width: 60%;
    margin: 0 auto;
  }

  .listgroup {
    display: table; 
    margin: 0 auto;
  }

  #GroupHeader {
    margin: 0 auto;
    display: table;
    padding: 50px 30px 50px 80px;
  }

  #pictureForGroups {
    height: 400px;
    width: 400px;
    object-fit: cover;
  }

  .homepagelayout {
    margin: 0 auto;
    width: 60%;
    border: 3px solid #337ab7;
    padding: 10px;
    border-radius: 4px;
  }

.homepageicon {
  height: 200px;
  width: 200px;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.icontext {

}